.input {
  width: 100%;
  font-size: var(--size-normal);
  color: var(--color-white);
  background-color: var(--color-background);
  border: 1px solid var(--color-gray);
  border-radius: 4px 0 0 4px;
  padding: 8px 12px;

  &:focus {
    outline: none;
    border: 1px solid var(--color-light-gray);
  }
}

.form {
  display: flex;

  button {
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--color-gray);
    border-left: none;
    background-color: var(--color-background);
    color: var(--color-white);
    font-size: var(--size-normal);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--color-dark-gray);
    }
  }
}
