:root {
  --color-gray: #8b888f;
  --color-dark-gray: #252425;
  --color-light-gray: #d3ced9;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-background: #191919;

  --width-bold: 900;
  --width-medium: 600;
  --width-regular: 400;

  --size-small: 12px;
  --size-normal: 16px;
  --size-text: 20px;
  --size-medium: 24px;
  --size-big: 28px;
  --size-xBig: 36px;
  --size-large: 40px;
  --size-mLarge: 72px;
  --size-xLarge: 100px;
}
