.entry {
  border: none;
  font-size: var(--size-normal);

  width: 100%;

  padding: 6px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: var(--color-dark-gray);
  }

  span {
    color: var(--color-light-gray);
  }

  .date {
    font-size: var(--size-small);
    color: var(--color-gray);
  }

  img {
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0 8px;
  }

  .expanded {
    transform: rotate(90deg);
  }

  .file {
    display: flex;
  }
}

.selected {
  background-color: var(--color-dark-gray);
}
